*{padding:0;margin:0;font-family: "Noto Sans KR", "Nanum Gothic",sans-serif,"돋움","dotum","tahoma","MalgunGothic","Verdana","Arial","Helvetica",sans-serif; box-sizing: border-box;}
html,body{width:100%;height:100%;}
html{overflow-y:auto;}
body,p,span,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,tr,td,thead,tbody,form,fieldset,legend,input,textarea,button{margin:0;padding:0;line-height:1;     word-break: break-all;}
ul,ol,li,dl,dt,dd {list-style:none;}
i,em,address{font-style:normal;}
label,button{cursor:pointer;}
button{position:relative;border:none;background: none;}
hr,legend {display:none;}
img,fieldset,iframe {border:none;}
img{vertical-align:top; max-width:100%;}
textarea{font-family:"Nanum Gothic",'돋움','dotum',tahoma,'MalgunGothic','Verdana','Arial','Helvetica','sans-serif';}
caption {display:none;}
input,select,button{vertical-align:middle;}
button{margin:0;padding:0;}
table{border:none; border-collapse:collapse; padding:0; border-spacing:0;}
ul:after{content: "";display: block;clear: both;}

a{text-decoration:none; }
a:link,a:visited,a:active,a:focus{text-decoration:none;}
a:hover{text-decoration:none;}
.blind {display:block;overflow:hidden;top:-1000em;position:absolute;}
ul:after{content: "";display: block;clear: both;}

.layout {width: 1200px; max-width:100%; margin: 0 auto;}

h1 {padding: 15px 0; font-size: 24px; text-align: center; line-height: 1.5; }

