body { text-align: center; }

button { display: inline-block; border: 1px solid #ccc; color: #000; background: #e2e2e2; border-radius: 5px; padding: 10px; }

.tab-menu { display: flex; justify-content: center; align-items: center; }

.tab-menu a { display: block; width: 100%; line-height: 42px; background: #c4c4c4; color: #ddd; text-align: center; }

.tab-menu a.active { background: #000; color: #fff; }

.tab-cont { display: none; height: 50vh; background: #801031; color: #fff; }

.alert-box { display: none; background: #6148f0; color: #fff; padding: 20px; border-radius: 10px; font-size: 16px; }

.yellow-bg { background: yellow; }

#wrap > article { padding: 25px 0; }

#btnKakaoShare { background: #f2de3a; border: none; color: #000105; }
